services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  php1:
    build: ./php
    environment:
      SERVER_MESSAGE: "Serveur 1"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  php2:
    build: ./php
    environment:
      SERVER_MESSAGE: "Serveur 2"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  nginx1:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx1.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/var/www/html:ro
    depends_on:
      - php1

  nginx2:
    image: nginx:alpine
    ports:
      - "8082:80"
    volumes:
      - ./nginx/nginx2.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/var/www/html:ro
    depends_on:
      - php2

volumes:
  db_data:
